<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Configuración para desactivar logs de Hibernate -->
    <logger name="org.hibernate.SQL" level="OFF"/>
    <logger name="org.hibernate.type.descriptor.sql" level="OFF"/>

    <!-- Configuración de los logs por consola -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configuración del nivel de root y referencia a consola -->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>

